body{
    background-color: antiquewhite;
}
#form{
    display: grid;
    max-width: 25%;
    margin:200px 0 0 700px;
    gap:40px;
    font-size: 20px;
    border:2px solid black;

    
}
#from,input{
    border-radius: 10px;
    font-size: 30px;
}
#envio{
    margin-bottom: 40px;
    margin-right: 40px;
    margin-left: 40px;
}
#idade{
        margin-bottom: 40px;
    margin-right: 40px;
    margin-left: 40px;
}
#nome{
        margin-bottom: 40px;
    margin-right: 40px;
    margin-left: 40px;
}
label,h1{
    margin-left: 12px;
}